In [1]:
import pandas as pd
import numpy as np

# Load Credit data
Credit = pd.read_csv('data/Credit.csv')

# Display first 5 rows
Credit.head()

First 5 rows of the data:
     Income  Limit  Rating  Cards  Age  Education  Own Student Married Region  \
0   14.891   3606     283      2   34         11   No      No     Yes  South
1  106.025   6645     483      3   82         15  Yes     Yes     Yes   West
2  104.593   7075     514      4   71         11   No      No      No   West
3  148.924   9504     681      3   36         11  Yes      No      No   West
4   55.882   4897     357      2   68         16   No      No     Yes  South

   Balance
0      333
1      903
2      580
3      964
4      331

Feature names: ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Own', 'Student', 'Married', 'Region', 'Balance']

Data types:
 Income       float64
Limit          int64
Rating         int64
Cards          int64
Age            int64
Education      int64
Own           object
Student       object
Married       object
Region        object
Balance        int64
dtype: object

Mean Age: 55.6675
Median Age: 56.0
Mode Age: 44

Subset (first 5 rows):
    Age Region   Income
0   34  South   14.891
1   82   West  106.025
2   71   West  104.593
3   36   West  148.924
4   68  South   55.882

Number of records with Age < 50: 161
Number of records with Age >= 50: 239

Mean Income (Age < 50): 41.65203726708074
Mean Income (Age >= 50): 47.6216569037657
Median Income (Age < 50): 31.861
Median Income (Age >= 50): 33.694

Observation: If the median is less than the mean, then we have that the distribution is right-skewed.
If the median is larger than the mean, then the distribution is left-skewed.

Possible values for Region: ['South' 'West' 'East']

Frequency table for Region:
 Region
South    199
West     102
East      99
Name: count, dtype: int64

Average Income for Students: 47.29205
Average Income for Non-Students: 44.988533333333336

First 5 rows with Utilization:
    Balance  Limit  Utilization
0      333   3606     0.092346
1      903   6645     0.135892
2      580   7075     0.081979
3      964   9504     0.101431
4      331   4897     0.067592

Maximum utilization value: 0.27693008426326576

In [7]:
# List feature names
Credit.columns.tolist()

['Income',
 'Limit',
 'Rating',
 'Cards',
 'Age',
 'Education',
 'Own',
 'Student',
 'Married',
 'Region',
 'Balance',
 'Utilization']

In [8]:
# Show data types
Credit.dtypes

Income         float64
Limit            int64
Rating           int64
Cards            int64
Age              int64
Education        int64
Own             object
Student         object
Married         object
Region          object
Balance          int64
Utilization    float64
dtype: object

In [14]:
# Mean, median, mode of Age
mean_age = Credit['Age'].mean()
median_age = Credit['Age'].median()
mode_age = Credit['Age'].mode()[0]

mean_age, median_age, mode_age

(55.6675, 56.0, 44)

In [9]:
# Create subset
Subset = Credit[['Age', 'Region', 'Income']]

# Show first 5 rows
Subset.head()

   Age Region   Income
0   34  South   14.891
1   82   West  106.025
2   71   West  104.593
3   36   West  148.924
4   68  South   55.882

In [13]:
# Younger (<50) and Older (>=50)
Younger = Subset[Subset['Age'] < 50]
Older = Subset[Subset['Age'] >= 50]

len(Younger), len(Older)

(161, 239)

In [ ]:
# Mean and median for each group
younger_mean = Younger['Income'].mean()
older_mean = Older['Income'].mean()
younger_median = Younger['Income'].median()
older_median = Older['Income'].median()

younger_mean, older_mean, younger_median, older_median

In [11]:
# Observation about distribution
"""
If median less than mean, distribution is right-skewed.
If median is greater than mean, distribution is left-skewed.
"""

'\nIf median less than mean, distribution is right-skewed.\nIf median is greater than mean, distribution is left-skewed.\n'

In [6]:
# Unique values
Credit['Region'].unique()

array(['South', 'West', 'East'], dtype=object)

In [12]:
# Count of each region
Credit['Region'].value_counts()

Region
South    199
West     102
East      99
Name: count, dtype: int64

In [3]:
# Convert Student to boolean for clarity
# (optional, could just use 'Yes'/'No')
avg_income_students = Credit[Credit['Student'] == 'Yes']['Income'].mean()
avg_income_non_students = Credit[Credit['Student'] == 'No']['Income'].mean()

avg_income_students, avg_income_non_students

(47.29205, 44.988533333333336)

In [4]:
# Utilization = Balance / Limit
Credit['Utilization'] = Credit['Balance'] / Credit['Limit']

# Show first 5 rows of Balance, Limit, Utilization
Credit[['Balance', 'Limit', 'Utilization']].head()

   Balance  Limit  Utilization
0      333   3606     0.092346
1      903   6645     0.135892
2      580   7075     0.081979
3      964   9504     0.101431
4      331   4897     0.067592

In [5]:
# Maximum utilization value
Credit['Utilization'].max()

0.27693008426326576